@model HomeIndexViewModel;
@{
    ViewData["Title"] = "Home Page";
}

<div class="row">
    <div class="panel panel-default col-md-4">
        <div class="panel-heading">Product</div>
        <table class="table">
            @foreach (var product in Model.Products)
            {
                <tr>
                    <td>
                        @product.Name
                    </td>
                    <td>
                        @product.Price CHF
                    </td>
                </tr>
            }
        </table>
    </div>

    <div class="panel panel-default col-md-5 col-md-offset-1">
        <div class="panel-heading">Purchase</div>
        <table class="table">
            @foreach (var purchase in Model.Purchases)
            {
                <tr>
                    <td>
                        @purchase.Product.Name
                    </td>
                    <td>
                        @purchase.User.UserName
                    </td>
                </tr>
            }
        </table>
    </div>
</div>

<div class="panel panel-danger">
    <div class="panel-heading">To seed data</div>
    <div class="panel-body">
        POST /admin/seed-data
    </div>
</div> 